<h1 class="text-center text-3xl mb-6 pt-[65px]">Throw the dices</h1>

<div *ngIf="!thrown" class="text-gray-400">
    <h4 class="mt-2">Press the play button to throw the dices!</h4>
    <h5 class="mt-4">If you get a 7 between the both dices, you lose.</h5>
    <h5 class="mt-1">If you get any other result, you will win.</h5>
</div>

<div *ngIf="thrown" style="margin-top: 50px">
    <div class="flex mb-8">
        <img src="../../../assets/images/dices/b-{{lastThrow.black_dice}}.png" alt="" class="m-auto">
        <img src="../../../assets/images/dices/r-{{lastThrow.red_dice}}.png" alt="" class="m-auto">
    </div>
    <div class="text-center">
        <ng-container *ngIf="lastThrow.result === 'win'; else lost">
            <h3 class="text-xl">You won!!</h3>
        </ng-container>
        <ng-template #lost>
            <h3 class="text-xl">You lost</h3>
        </ng-template>
    </div>
</div>

<div class="wrap-login100-form-btn" [ngClass]="{'!mt-4': thrown, '!mt-8' : !thrown }">
    <div class="login100-form-bgbtn"></div>
    <button class="login100-form-btn" (click)="play(getUserId())">
        {{(thrown) ? 'Play again' : 'Play'}}
    </button>
</div>
